---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
<div class="notice">
  You can also find my publications on 
  <a href="{{ site.author.googlescholar }}" target="_blank">
    Google Scholar
  </a>.
</div>
{% endif %}

<hr>

{% assign pubs = site.publications | sort: "date" | reverse %}

{% if site.publication_category %}

  {% for category in site.publication_category %}
    
    {% assign category_posts = pubs | where: "category", category[0] %}
    
    {% if category_posts.size > 0 %}
      <h2>{{ category[1].title }}</h2>
      <hr>
      
      {% for post in category_posts %}
        {% include archive-single.html %}
      {% endfor %}
      
    {% endif %}
    
  {% endfor %}

{% else %}

  {% for post in pubs %}
    {% include archive-single.html %}
  {% endfor %}

{% endif %}